{% extends "base.html" %}

{% block content %}

<h1>{{ taxonomy.name }}</h1>

<ul>
{% for term in terms | sort(attribute="page_count") | reverse %}
  {% if term.name != "daily" %}
  <li><a href="{{term.permalink | safe}}">{{term.name}}</a><span class="postDate">{{term.page_count}}</span></li>
  {% endif %}
{% endfor %}
</ul>

{% endblock content %}
