{% extends "base.html" %}

{% block content %}

<h1>{{ taxonomy.name }}</h1>

<ul class="titleList">
  {% for post in term.pages %}
  <li>
    <a href="{{ post.permalink | safe }}">{{ post.title }}</a><span class="postDate">{{ post.date }}</span>
    <br />
    {{ post.description }}
  </li>
  {% endfor %}
</ul>

{% endblock content %}
