:root, :root.light, html, html.light {
  --red: #d20f39;
  --orange: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --blue: #04a5e5;
  --purple: #8839ef;
  --grey: #8c8fa1;
  --base: #dce0e8;
  --text: #4c4f69;
  --metaColor: var(--orange);
  --headColor: var(--green);
  --linkColor: var(--blue);
  --hovColor: var(--purple);
  --bgSelect: var(--purple);
}

:root.dark, html.dark {
  --red: #f38ba8;
  --orange: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --blue: #89dceb;
  --purple: #cba6f7;
  --grey: #7f849c;
  --base: #1e1e2e;
  --text: #cdd6f4;
  --metaColor: var(--orange);
  --headColor: var(--green);
  --linkColor: var(--blue);
  --hovColor: var(--purple);
  --bgSelect: var(--purple);
}
@media (prefers-color-scheme: dark) {
  :root, html {
    --red: #f38ba8;
    --orange: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --blue: #89dceb;
    --purple: #cba6f7;
    --grey: #7f849c;
    --base: #1e1e2e;
    --text: #cdd6f4;
    --metaColor: var(--orange);
    --headColor: var(--green);
    --linkColor: var(--blue);
    --hovColor: var(--purple);
    --bgSelect: var(--purple);
  }
}

::-moz-selection {
  color: var(--base);
  background: var(--metaColor)
}

::selection {
  color: var(--base);
  background: var(--metaColor)
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: var(--orange);
}

pre::-webkit-scrollbar-track {
  backrgound: var(--grey);
}

body {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.35;
  max-width: 82rem;
  margin: auto;
  overflow-wrap: break-word;
  background: var(--base);
  color: var(--text);
}

main {
  max-width: 82rem;
}

h1 {
  font-size: 2.4rem;
  color: var(--base);
  background-color: var(--metaColor);
  text-align: center;
  text-wrap: balance;
}

h1::before {
  color: var(--base);
  content: '# '
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: var(--metaColor);
  content: '# '
}

a {
  text-decoration: none;
  padding: 0 .2rem 0 .2rem;
  border-radius: .3rem;
  color: var(--linkColor);
}

a:focus,
a:hover {
  background-color: var(--linkColor);
  color: var(--base)
}

ul {
  list-style: none;
  margin-top: .5rem;
  margin-bottom: .5rem;
  line-height: 1.45;
}

ul li::marker {
  content: '» ';
  color: var(--metaColor)
}

ul li:hover::marker {
  content: '# ';
  font-weight: 700;
  color: var(--linkColor)
}

blockquote {
  border-left: .5rem solid var(--metaColor);
  margin: 1rem;
  padding: 0 0 0 1rem
}

textarea {
  border: 2px dotted;
  outline: 0;
  resize: none;
  overflow: auto;
  background-color: var(--base)
}

hr {
  border: 1px dashed
}

img {
  max-width: 90%;
  height: auto;
  margin: .2rem;
  padding: .2rem;
  border: dashed .2rem var(--metaColor);
  border-radius: 15px
}

pre {
  border: 1px solid var(--metaColor);
  padding: 1rem;
  overflow-x: auto;
  font-style: monospace;
  scrollbar-color: var(--metaColor) var(--base);
  scrollbar-width: thin;
}

p code,
li code,
div code {
  padding: 0 .2rem 0 .2rem;
  border-radius: .3rem;
  color: var(--base);
  background-color: var(--text);
}

pre code {
  padding: 0;
  border-radius: 0;
  color: inherit;
  background-color: inherit;
}

iframe {
  max-width: 90%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  line-height: 1.1
}

thead th:first-child {
  width: 20%
}

th {
  font-weight: 400
}

td,
th {
  padding: .5rem;
  border: dashed .1rem var(--metaColor)
}

footer {
  font-size: 1.4rem;
  clear: both;
  color: var(--footColor)
}

footer,
td,
th {
  text-align: left
}

.metaData,
.themeButton,
hr,
textarea {
  color: var(--metaColor)
}

/* Site Specific Styling */
.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
}

.postDate {
  margin-left: 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

/* Icons settings */
.icons {
  width: 2.0rem;
  height: 2.0rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  color: var(--text);
  fill: var(--text);
  background-color: transparent;
}

.icons__background:hover {
  background-color: transparent;
  color: var(--metaColor);
}

.navBar {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  gap: .4rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end
}

.themeButton {
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  background-color: transparent
}

.dark .themeButton.dark,
.themeButton.light {
  display: none
}

.dark .themeButton.light {
  display: block
}

.tagsData {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end
}

.titleList {
  line-height: 1.8;
}

.footnote-definition {
  margin: 0 0 0 2rem;
}

.footnote-definition-label {
  color: var(--metaColor);
}

.footnote-definition p {
  display: inline;
  padding: 0 0 0 1rem;
}

.footContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.noStyle {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0
}

.textCenter {
  text-align: center;
}

.floatRight {
  float: right
}

.floatLeft {
  float: left
}

.webring {
  margin: 0.5rem;
}

@media (max-width: 650px) {
  /* Add Padding */
  .wrapper {
    margin: 1rem;
  }
}

@media (max-width: 850px) {
  .wrapper {
    display: block;
  }
}
