{% extends "base.html" %}

{% block content %}

{% set section = get_section(path="posts/_index.md") %}

{% if section.path == "/posts/" %}
{% set intro = get_page(path="partials/_intro.md") %}
{{ intro.content | safe }}
{% endif %}

{% if config.extra.list_pages %}

<h2>Musings</h2>
{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

{% for year, posts in section.pages | group_by(attribute="year") %}
<h4>{{ year }}</h4>
<ul class="titleList">
  {% for post in posts %}
  <li>
    <a href="{{ post.permalink | safe }}">{{ post.title }}</a><span class="postDate">{{ post.date }}</span>
    <br />
    {{ post.description }}
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% if paginator %}
<div class="metaData">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a href="{{ paginator.previous }}"><</a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}

{% endif %}
{% endblock content %}
