<html lang="en">
  <style>
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.3rem;
    color: #222;
  }

  p, ul {
    font-size: 1rem;
    list-style-type: square;
  }

  a {
    color: rgb(0,0,238);
  }
  </style>
  <div class="resume">
    {{ page.content | safe }}
  </div>
</html>
